@import '~antd/dist/antd.css';

.ant-alert-message {
  white-space: pre;
}

.flex-row {
  max-width: 1400px;
  margin: 0 auto !important;
  display: flex;
  flex-flow: row wrap;
}

.col-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
  margin: 20px 0 30px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -24px;
  width: auto;
  max-width: 100vw;
}
.my-masonry-grid_column {
  padding-left: 24px;
  background-clip: padding-box;
}

.spinWrapper {
  position: relative;
  height: 100vh;
}

.spin {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
